{% extends 'accounts/base.html' %}

{% block content %}
<div class="container">
     
        <h1>Enter new password</h1>
        <hr>



<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        

<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
            <div class="form-row field-password1">
                
                <label for="id_new_password1">New password:</label>
                <input type="password" name="new_password1" required id="id_new_password1" />
            </div>
            <br>
            <div class="form-row field-password2">
                
                <label for="id_new_password2">Confirm password:</label>
                <input type="password" name="new_password2" required id="id_new_password2" />
            </div>
            <br>
            <input type="submit" class="btn btn-success" value="Change my password" />
        </fieldset>
</form>
</div>
{% endblock %}
